/* Elements */

li{

}

/* class */

.hello {

}

/* id */

#name{

}

/* star */
/* This will apply to every single element on the page */

* {
  border: 1px solid lightgrey;
}

/* descendant selectors */
/* This will select everything inside another tag */

li a {
  color: red;
}

/* adjacent selectors */
/* This selects elements that are adjacent */

h4 + ul {
  border: 4px solid red;
}

/* attribute selectors */

a[href="http://www.google.com"] {
  background: blue;
}

/* nth of types */
/* Selects elements of a certain order -
every 4th <div>, every 2nd <li>, etc */
/* Notice with <li> that selects every 3rd type
in each group, not every 3rd <li> */

li:nth-of-type(3) {
  background: purple;
}
